.section {
  text-align:center;
  font-size: 3em;
}

/**
Fixed button outside the fullpage.js wrapper
*/
#moveTo{
  top: 20px;
  left: 20px;
  position:fixed;
  z-index:999;
  font-size: 3em;
  cursor:pointer;
}

html {
  color: red;
}